.simple.red {
  background-color: #f00;
}

.brutalist.green {
  background-color: #0f0;
}

.hand.blue {
  background-color: #00f;
}

.dark {
  background-color: #000;
}

.purple {
  background-color: #f0f;
}
